{% load static %}
<!DOCCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}কায়কোবাদের ব্লগ{% endblock title %}</title>
        <meta charset="UTF-8">

        <!-- Optional parts -->
        <meta name="description" content="Programming Tutorials and Personal Blog">
        <meta name="keywords" content="C CPP JAVA HTML CSS javascript">
        <meta name="author" content="Kaykobad Reza">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{% static "assets/images/glyphicons_free/glyphicons/png/glyphicons-777-robot.png" %}">  
        
        <!-- Custom CSS and bootstrap CSS-->
        <link rel="stylesheet" href="{% static "assets/scripts/css/style.css" %}">
        <link rel="stylesheet" href= "{% static "assets/scripts/bootstrap-4.1.3/css/bootstrap.min.css" %}">
    </head>

    <body>
        <div>
            <!-- Top Nav Bar -->
            <div class="topnav">
                <nav class="navbar navbar-expand-lg">
                    <!-- Toggler button-->
                    <a class="navbar-brand" href="/">কায়কোবাদ রেজা</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <!-- <span class="navbar-toggler-icon"></span>-->
                        <span><img src="{% static "assets/images/glyphicons_free/glyphicons/png/glyphicons-517-menu-hamburger.png" %}"></span>
                    </button>
        
                    <!-- Main navbar -->
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link navitem {% if pagename == 'home' %} active {% endif %}" href="/">নীড়পাতা</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navitem {% if pagename == 'tutorials' %} active {% endif %}" href="/tutorials/">টিউটোরিয়াল</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navitem {% if pagename == 'blog' %} active {% endif %}" href="/blog/">ব্লগ</a>
                            </li><li class="nav-item">
                                <a class="nav-link navitem {% if pagename == 'questions' or pagename == 'askquestions' %} active {% endif %}" href="/questions/">প্রশ্নোত্তর</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navitem {% if pagename == 'aboutme' %} active {% endif %}" href="/aboutme/">আমার সম্পর্কে</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <!-- Main Body Section -->
            <div class="main-content {% if pagename == 'askquestions' %}qa{% endif %} {% if pagename == 'questions' or pagename == 'tutorials' or pagename == 'blog' %}qa-content{% endif %}">
                {% block main_content %}
                    this is body
                {% endblock main_content %}
            </div>

            <!-- Footer -->
            <div class="footer-top">
                <div class="row footer">
                    <div class="col-sm-12">
                        Follow me on:<br/>
                        <div class="social">
						<a href="#" target="_blank"><img src="{% static "assets/images/glyphicons_free/glyphicons-social/png/glyphicons-social-3-google-plus.png" %}" alt="Google+"></a>
						<a href="https://www.facebook.com/kaykobadreza/" target="_blank"><img src="{% static "assets/images/glyphicons_free/glyphicons-social/png/glyphicons-social-31-facebook.png" %}" alt="Facebook"></a>
						<a href="#" target="_blank"><img src="{% static "assets/images/glyphicons_free/glyphicons-social/png/glyphicons-social-32-twitter.png" %}" alt="Twitter"></a>
						<a href="https://www.linkedin.com/in/kaykobad-reza-273a20120/" target="_blank"><img src="{% static "assets/images/glyphicons_free/glyphicons-social/png/glyphicons-social-18-linked-in.png" %}" alt="Linked-in"></a>
						<a href="#" target="_blank"><img src="{% static "assets/images/glyphicons_free/glyphicons-social/png/glyphicons-social-39-skype.png" %}" alt="Skype"></a>
						<a href="https://github.com/kaykobad" target="_blank"><img src="{% static "assets/images/glyphicons_free/glyphicons-social/png/git.png" %}" alt="Github"></a>
					</div>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-sm-12">
                        Copyright © 2018 Kaykobad Reza. All rights reserved.
                    </div>
                </div>
            </div>
        </div>

        <script>
            function ValidateEmail() {
                var x = document.getElementById("mail");
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(x.value)){
                    document.getElementById("warning").innerHTML = "";
                    return (true)
                }else{
                    //alert("You have entered an invalid email address!")
                    document.getElementById("warning").innerHTML = "আপনার প্রদত্ত ইমেইল অ্যাড্রেসটি সঠিক নয়";
                    document.getElementById("warning").style = "color: red";
                    return (false)
                }
            }

        </script>

        <!-- JQuery Link -->
        <script src="{% static "assets/scripts/jquery-3.3.1.min/jquery-3.3.1.min.js"  %}"></script>

        <!-- Bootstrap 4 Link -->
        <script src="{% static "assets/scripts/bootstrap-4.1.3/js/bootstrap.min.js" %}"></script>

        <!-- Custom js -->
        <script src="{% static "assets/scripts/js/javascript.js" %}"></script>

        <!-- Font Awesome Link -->
        <link rel="stylesheet" href="{% static "assets/scripts/fontawesome-5.3.1/css/all.css" %}">
        <script src="{% static "assets/scripts/fontawesome-5.3.1/js/all.js" %}"></script>

    </body>
</html>